<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=-2" />
    <title>@ViewData["Title"]Luluma Educativo App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
       <header>
        <nav class="wrapper">
            <div class="sidebar">
                <h3>Menu</h3>
                <ul>
                   <li> <a class="fas fa-home" asp-page="/Index">Home</i></a></li>
                    <li><a class="fas fa-user" asp-page="/Estudiantes/Index">Estudiantes</i></a></li>
                    <li><a class="fas fa-address-book" asp-page="/Materias/Index">Materias</i></a></li>
                </ul>
                </nav>
            </div>        
    </header>
    
    <div class="main_content">
        <div class="header"></div>  
        @RenderBody()
    </div>
   
    
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - SegEducativo.App.Presentacion - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
